html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

}

main {
  width: 422px;
  height: 464px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.navBar, .statusBar {
  display:flex;
  justify-content: center;
  align-items: center;
  height:67px;
  background:#666;
}

.navBar > h2, .statusBar > h1 {
  color: white;
}

.playArea, .navBar, .statusBar {
  width: 100%;
}

.playArea {
  height: 100%;
}

.playCard {
  display: flex;
  flex-direction: column;
  background-color: honeydew;
}

.cardImg, .cardText {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .cardImg {
  height: 197px;
} */

.cardText {
  font-size: 30px;
  height: 100px;
}

.card-btns {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}

.audioBtn, .navBtn  {
  padding: 5px;
}

.audioBtn, .navBtn, .cardImg  {
  background-color: #61dafb;
}

