html, body {
  box-sizing: border-box;
}
html, body, h1, h2 {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

}

main {
  width: 422px;
  height: 464px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.flashCardDeck {
  width: 350px;
}



.selectorWrapper + .navBar {
  position: relative;
    top: 20px;
    left: 0px;
}

.statusBar {
  position: relative;
  top: -20px;
}

.navBar, .statusBar {
  display:flex;
  justify-content: center;
  align-items: center;
  height:67px;
  background:#666;
}

.navBar > h2, .statusBar > h1 {
  color: white;
}

.playArea, .navBar, .statusBar {
  width: 100%;
}

.playArea {
  height: 100%;
}

.playCard {
  display: flex;
  flex-direction: column;
  background-color: honeydew;
}

.cardImg, .cardText {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardImg {
  width: 350px;
  height: 350px;
  background-size: cover;
  background-position: center;
  color: transparent;
}

.cardText {
  font-size: 30px;
  height: 100px;
}

.card-btns {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}

.audioBtn, .navBtn  {
  padding: 5px;
}

.audioBtn, .navBtn, .cardImg  {
  background-color: #61dafb;
}

.flashCardDeck > .navBar > h2, .flashCardDeck > .statusBar > h1 {
  margin-bottom: 0;
}

