@fontface {
  font-family: 'Kalam', cursive, Arial;
  src: url('https://fonts.googleapis.com/css?family=Kalam')
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#ant-row {
  height: 621px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #61dafb;
}

.spacing {
  display: flex;
  flex-direction: column;
}

.spacing > * {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.spacing > button {
  margin-top: 10px;
  text-align: center;
  padding: 2px;
  align-items: center;
  justify-content: center;
  height: 43px;
}

button {
  font-size: 1.2em;
}

.spacing > input {
  font-size: 1.4em;
}

button:hover {
  border: whitesmoke solid 2px;
}

.spacing > .title {
 font-family: 'Kalam';
 font-size: 2em;
}